@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --color-primary: rgba(255, 255, 255, 0.6);
  --color-primary-hover: #312eb5;
  --color-secondary: rgba(255, 255, 255, 1);
  --color-secondary-hover: rgba(255, 255, 255, 0.03);
  --color-middle: rgba(255, 255, 255, 0.03);
  --color-middle-active: rgba(255, 255, 255, 0.1);
}

html,
body,
#root {
  height: 100%;
}
