@import "tailwindcss";
@theme {
  --color-primary: rgba(255, 255, 255, 0.6);
  --color-primary-hover: #312eb5;
  --color-secondary: rgba(255, 255, 255, 1);
  --color-secondary-hover: rgba(255, 255, 255, 0.03);
  --color-middle: rgba(255, 255, 255, 0.03);
  --color-middle-active: rgba(255, 255, 255, 0.1);
}
:root {
  height: 100%;
}
html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #181818;
}

.hide-scrollbar {
  /* scrollbar-width: none; */
  scrollbar-color: rgb(70, 64, 64) rgba(0, 0, 0, 0);
}
